
.pagination{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.pagination li{
    list-style: none;
   padding: 5px;
}

.pagination li a{
   border:1px solid antiquewhite;
    background: antiquewhite;
    color: black;
    padding: 5px;
    font-weight: 700;
}

.pagination li a:hover{
    background-color: rgb(217, 188, 150);
    font-size: 20px;
}
